<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Space48_FeedBuilder>
            <version>0.0.1</version>
        </Space48_FeedBuilder>
    </modules>
    <global>
        <models>
            <space48_feedbuilder>
                <class>Space48_FeedBuilder_Model</class>
            </space48_feedbuilder>
        </models>
        <helpers>
            <space48_feebuilder>
                <class>Space48_FeedBuilder_Helper</class>
            </space48_feebuilder>
        </helpers>
    </global>

    <crontab>
        <jobs>
            <space48_feedbuilder>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>space48_feedbuilder/runner::run</model>
                </run>
            </space48_feedbuilder>
        </jobs>
    </crontab>

</config>